VITE_RECAPTCHA_SITE_KEY= "6LerNccsAAAAABAI5TvYl4D2gN4ByCej9jbXavs1"
VITE_RECAPTCHA_SECRET_KEY = "6LerNccsAAAAAIweoDRr42DKyCEgyybQzAGLiIv0"
VITE_API_BASE_URL="http://localhost:3000"
JWT_SECRET="348d03fb842bdf3878ba0be666418fb5552d217bc371fe04a1714df2c04fc312"
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CLIENT_ID=your_google_client_id