.list{
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.flexCanter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.coverWindow{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  z-index: 1;
}

.coverDiv{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.noneScrollBar {
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: none;

  /* IE・Edge(旧) */
  -ms-overflow-style: none;
}

/* Chrome・Safari・Edge */
.noneScrollBar::-webkit-scrollbar {
  display: none;
}